.mask{
  width:100%;
  position: absolute;
  right:0px;
  top: 0px;
  z-index: -1;
  height: 40rem;
}
.car{
  position: absolute;
  right:20rem;
  top:11rem;
  background: transparent;
  z-index: -1;
 
}
.trafics{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.cars{
    display: grid;
}
.cars > button {
    height: 4rem;
    width: 4.5rem;
    margin-top: 2rem;
   border: solid 1px #ffff;
   border-radius:  10%  ;
}
.icon{
    height: 2rem;
    width: 2.5rem;
}
.car1{
    margin-left: 3rem;
    
}
.car1:focus{
    background-color: #a6060b;
    color: #ffff;
}
.car2{
    margin-right: 3rem;
    
}
.car2:focus {
    background-color: #a6060b;
    color: #ffff;
}