header{
    display: flex;
    justify-content: space-between;
}
header>p{
    margin-left: 1.5rem;
    color: #ffff;
    margin-right: 1rem;
    margin-top: 1.1rem;
}
.socials{
   margin-top: 1rem;
    margin-left: -20rem;
}
.socials>a{
    padding-left: 1rem;
    text-decoration: none;
    color: #ffff;
    
}
.logo > img{
    height: 3.5rem;
    width: 13rem;
    margin-top: 0.5rem;
}
.connexion{
    margin-right: 4rem;
    margin-top: 0.5rem;
}
.connexion>a{
    text-decoration: none;
    color: #ffff;
}
.notification{
    padding-right: 3rem;
    padding-top: 1rem;
    color: #ffff;
}
nav{
    display: flex;
    justify-content: center;
    
}
nav > a{
    margin-top: 3rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
 
}
/*-----------------MEdiaQueris(MediumDevices)--------*/
@media screen and (max-width:1024px){
   
}
/*-----------------MEdiaQueris(SmallDevices)--------*/
@media screen and (max-width:600px){
.connexion{
   display: none;
    }
.socials{
    display: none;
}
header >p {
    display: none;
}
nav > a{
    font-size: x-small;
    margin-right: 1rem;
}
}