.carousel{
overflow: hidden;
cursor: grab;
}
.item{
    min-height: 2rem;
    min-width: 3rem;
    margin-top: 2rem;
    padding: 0rem 2rem;
    
}
.item img{
    width: 5rem;
    height: 5rem;
    
    pointer-events: none;
}
.inner-carousel{
    display: flex;
}