.div-form{
height: 8rem;
background-color: #f8f8f8;
margin-top: -3rem;
width: 52rem;
margin-left: 15rem

}
form{
    padding-top: 1rem;
    /* margin-left: 7rem; */
    margin-top: 9rem;
    
}

.select1>select{
    width: 15rem;
    height: 2.5rem;
    margin-left: 2rem;
    border-radius: 5px;
}
.select2>select{
    margin-top: 1rem;
    height: 2.5rem;
    border-radius: 5px;
}
.ville{
    width: 15rem;
    margin-left: 2rem;
}
.min{
    width: 7rem;
     margin-left: 2rem;
}
.max{
     width: 7rem;
      margin-left: 1rem;
     
}
.recherche{
     width: 15rem;
     height: 2.5rem;
     background-color: #10c340;
     color: aliceblue;
     margin-left: 2rem;
     border-radius: 5px;
     border: none;
}

/* Media Queries (MEdium Devices) */
@media screen and (max-width:1024px) {
    
}
/* Media Queries (Small Devices) */
@media screen and (max-width:600px) {
   form{
    margin-top: 6rem;
    margin-left: 1.7rem;
   }
  .div-form{
    margin-left: 0rem;
    width: 0rem;
  }
  .select1 , .select2{
    display: grid;
  }
  .select1>select { 
      margin-left: 3rem;
      margin-top: 1rem ;
  }

  .select2>select {
      margin-top: 1rem;
      margin-left: 3rem;  
  }
  .min {
      width: 15rem;
      margin-left: 2rem;
  }

  .max {
      width: 15rem;
      margin-left: 1rem;

  }
  .recherche {  
      margin-left: 3rem; 
      margin-top: 1rem;
  }
}